@font-face {
  font-family: honeycute;
  src: url(../font/HoneyCute.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1080px;
  margin: auto;
  font-family: Calibri, sans-serif;
}

header {
  background-image: linear-gradient(
      125deg,
      rgba(218, 224, 158, 0.4) 0%,
      rgba(211, 247, 163, 0.6) 100%
    ),
    url(../img/baby.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

header > p {
  position: absolute;
  font-size: 45pt;
  margin-left: 45px;
  margin-top: 100px;
  font-family: honeycute;
  color: #757536;
}

footer {
  background-image: linear-gradient(
    125deg,
    rgba(218, 224, 158, 0.4) 0%,
    rgba(211, 247, 163, 0.6) 100%
  );
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

nav {
  background-image: linear-gradient(
    125deg,
    rgba(218, 224, 158, 0.4) 0%,
    rgba(211, 247, 163, 0.6) 100%
  );
  /* background-color: #eddf9d; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}

ul > li {
  margin: 2px 20px;
  text-align: justify;
}

ul > li > a,
ul > li > a:visited {
  text-decoration: none;
  color: #757536;
}

ul > li > a:hover,
.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #757536;
  text-underline-offset: 2px;
  font-weight: bold;
}

main {
  min-height: 500px;
  height: auto;
}

#p404,
#psuccess,
#pfail,
#pshop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

#img404 > img,
#img-success > img,
#img-fail > img {
  height: 400px;
}

#txt404 > p,
#txt-success > p,
#txt-fail > p {
  font-size: 15pt;
  margin-top: 20px;
}

#phome,
#pabout {
  margin-top: 20px;
}

#phome > img {
  height: 150px;
  border-radius: 75px;
  opacity: 0.8;
  float: left;
}

#phome > p,
#pabout > p,
#pshop > p {
  margin-left: 180px;
  margin-bottom: 15px;
  font-size: 15pt;
}

#phome > ul > li {
  border: 2px solid #eddf9d;
  border-radius: 5px;
  padding: 5px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.product > p {
  width: 150px;
  word-wrap: normal;
}

.product > img {
  width: 150px;
}

#pWraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#plogin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#login,
#register {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgba(247, 241, 163, 0.6);
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
}

#login-btn,
#register-btn {
  width: 60px;
  height: 30px;
  border: 0px;
  background-color: #aeed9d;
  border-radius: 5px;
  cursor: pointer;
}

#welcome {
  display: inline-flex;
  margin-right: 20px;
  align-items: center;
  color: #757536;
}

#welcome img {
  height: 30px;
  margin-left: 15px;
}
